<table>
<thead>
<tr>
<th>Название</th>
<th>Panel URL</th>
<th>SUB URL</th>
</tr>
</thead>
<tbody>
<% nodes.forEach(node => { %>
<tr>
<td><%= node.name %></td>
<td><%= node.panel_url %></td>
<td><%= node.sub_base_url || '-' %></td>
</tr>
<% }) %>
</tbody>
</table>
